@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>MyJunkYourStuff</h3>

<p>The MyJunkYourStuff site is a way to share upcoming Garage sale locations.  We all have stuff we want to get rid of.  What better way to
    do that than to have a garage sale and pawn all that junk off onto someone else (while making money!).  Of course, we highly suggest you
    take that money and donate it to charity, but keep a little for a nice celebration ... or to use to get more stuff to keep the cycle going.</p>

<p>This application (if you can call it that) is part of a Hands On Lab (HOL) originally created by <a href="http://twitter.com/mikewo">Mike Wood</a> 
    and <a href="https://twitter.com/MichaelCollier">Michael Collier</a> for a half day workshop on <a href="http://azure.com">Microsoft Azure</a>. 
    The workshop was given at the awesome <a href="http://codemash.org">CodeMash</a> conference in Sandusky, OH in 2015.</p>
<p>We'd like to point out that this is a demo app only.  A simple example illistrating specific points of the Azure platform.  It shouldn't
    be taken for production code.</p>
